body {
  background: #40916c;
}

.App header {
  margin: 70px 0 0 0;
  padding-bottom: 10px;

  text-align: center;
}

.App h1 {
  font-size: 64px;
  color: #1b4332;
}

.App footer {
  font-size: 15px;
  text-align: center;
  margin: 30px 0;
}

.App footer a {
  color: #1b4332;
  text-decoration: underline;
}
